/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
/.env
/.env.backup
/.env.production
/.git
/.github
/.vscode
/.idea
/.fleet
/.nova
/.zed
/.DS_Store
/tests
/DOCUMENTOS
*.md
docker-compose*.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
user_inputs*.txt
toArray())
.gemini
